:root {
  --background-color: #F5F5DC;
  --off-white: #F8F8F8;
  --light-nude: #EEDFCC;
  --dark-nude: #C8B89A;
  --earthy-green: #A6A57A;
  --light-brown: #D2B48C;
  --text-black: #000000;
  --text-dark-gray: #333333;
}


body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
  color: var(--text-dark-gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  color: var(--text-black);
}

header {
  background-color: var(--off-white);
}

button {
  background-color: var(--light-nude);
  color: var(--text-black);
}

button:hover {
  background-color: var(--earthy-green);
}

a {
  color: var(--dark-nude);
}

a:hover {
  color: var(--light-brown);
}

footer {
  background-color: var(--off-white);
  color: var(--text-dark-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
