:root {
  /* background */
  --background-light: #fffcf1;
  --background-dark: #222222;
  --background-white: #ffffff;
  --background-primary: #d7c9b8;
  --background-secondary: #ebe6de;
  --background-tertionary: #698474;

  /* text */
  --text-black: #000000;
  --text-light: #f5f5f5;
  --text-dark: #393536;

  --text-primary: #938d84;
  --text-secondary: #65615b;
}

body {
  margin: 0;
  width: 100vw;
  font-family: 'Lato', sans-serif;
  /* background-color: var(--background-primary); */
  background-repeat: repeat;

  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  color: var(--text-black);
}

header {
  background-color: var(--background-light);
}

button {
  background-color: var(--background-tertionary);
  color: var(--text-black);
}

button:hover {
  background-color: var(--earthy-green);
}

a {
  color: var(--text-primary);
}

a:hover {
  color: var(--text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
